/* #root {

} */

body {
  --pink: #CE6AD0;
  --background: #121212;
  --secondary: #171717;
  --divider: #2F2F2F;
  --inputs: #171717;
  --contrast: #252525;
  --button: linear-gradient(232deg, #DC84DE -0.46%, #CE6AD0 46.2%, #C64FC8 89.11%);
  --background-gradient: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
  margin: 0;
  padding: 0;
  font-family: DM Sans;
  background-color: var(--background);
  box-sizing: border-box;
 
}

.heading {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  font-family: DM Sans;
}

.heading2{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;

}

.section-headline{
margin-left: 12%;

} 

.m-t{
  margin-top: 4rem;
}

button {
  /* width: 100%; */
  padding: 10px;
  /* background-color: var(--pink); */
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-image: linear-gradient(232deg, #DC84DE -0.46%, #CE6AD0 46.2%, #C64FC8 89.11%);
}

.section-btn-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 8px;
}

.section-btn{
  width: 178px;
  height: 44px;
  margin-bottom: 2rem;
  /* display: flex; */
  justify-content: center;
}

/* navbar */

.nav-container {
  margin: 1rem;
  text-align: center;
  width: 100%;

}

.nav {
  /* background-image: url(../src/assets/masthead.jpg); */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 7rem 0 2.5rem;
}

.site-title img {
  width: 164px;
  height: 40.5px;
  margin-top: 28px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-top: 36px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.masthead {
  position: absolute;
  width: 1440px;
  /* height: 440px; */
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.07) 0%, #121212 100%) ;
  /* background-color: var(--contrast); */
  /* background: rgba(0, 0, 0, 0.79); */
} 

.masthead img {
  position: absolute;
  width: 100vw;
  /* height: 693px; */
  z-index: -1;
  /* background: linear-gradient(180deg, rgba(18, 18, 18, 0.07) 0%, #121212 100%) ; */

}

/* Modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header{
 text-align: center;
}

.modal-content {
  background-color: var(--divider);
  padding: 20px;
  border-radius: 10px;
  max-width: 935px;
  max-height: 456px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-bottom: 10px;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal form .form-group {
  text-align: left;
  margin-bottom: 10px;
}

.modal form .form-group label {
  display: block;
  font-weight: bold;
}

.modal form input {
  width: 680px;
  padding: 10px;
  margin-bottom: 10px;
  /* border: 1px solid #ccc; */
  background-color: var(--inputs);
  border-radius: 5px;
}
.modal .button-group {
  display: flex;
  align-items: center;
}
.modal .button-group button {
  margin-right: 10px; /* Adjust the spacing between buttons if needed */
}

.modal form button {
  width: 100%;
  padding: 10px;
  background-color: var(--pink);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal form button:hover {
  background-color: #0056b3;
}



.modal p button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit; 
 }

.modal p button:hover {
  text-decoration: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal form .form-label {
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
}

.modal form .form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--inputs);
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  
}

.modal p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal p button {
  margin: 0;
}


.modal form .form-input {
  max-width: 680px;
  margin: 0 auto;
}

.signup-button{
  max-width: 680px;
}



/* CTA-Box */
.dropdown-group {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.cta-box {
  max-width: 1020px;
  margin: 0 auto;
  background-color: rgba(37, 37, 37, 0.72);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 4rem;
}

.cta-heading {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-top: 3rem;
  font-family: DM Sans;
  margin-bottom: 3rem;
}

.dropdown-label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  margin-bottom: 5px;
  display: block;
  text-align: left;
  color: #fff;
}

.dropdown {
  width: 260px;
  height: 50px;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--inputs);
  color: #fff;
  border-radius: 8px;
  border: none;
}



.cta-button-container {
  text-align: right;
  margin-top: 30px;
}



.cta-button {
  padding: 10px 32px;
  font-size: 1rem;
  background-color: var(--pink);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 22.5%;
  width: 178px;
  height: 44px;
  margin-bottom: 2rem;
}

.cta-button:hover {
  background-color: #0056b3;
}



/* Slogan */

.slogan-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.slogan-sub {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 34px; */
  color: #ffffff;
  margin-top: 5px;

}


/* Bookable card */

.bookable-card {
  width: 289px;
  height: 289px;
  max-width: 100%; 
  max-height: 100%;
  position: relative;
  background: #2F2F2F;
  border-radius: 8px ;
  text-decoration: none;
}

.bookable-heart {
  position: absolute;
  left: 230px;
  top: 10px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  /* background: red; */
  color: #fff;
  /* border: 1px solid #fff; */
  padding: 3px 10px;
  z-index: 1;
}

.bookable-image-container {
  display: flex;
  justify-content: center;
  max-width: 289px;
  /* height: 190px; */
  background: #2F2F2F;
  border-radius: 8px 8px 0 0;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
}

.bookable-image {
  
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  
}

 .bookable-details{
  display: flex;
  padding: 10px 20px ;
 }

 .bookable-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}


.bookable-info-right {
  flex: 1;
}

.bookable-info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.bookable-info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.bookable-details p{
  margin: 2px 0;
}

.bookable-address {
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}

.bookable-capacity
.bookable-price {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}

.bookable-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  /* justify-content: space-between; */
  margin-top: 1.5rem;
}

/* All venues */

.all-venues-filter{
  max-width: 1243px;
  margin: 0 auto;
  background-color: rgba(37, 37, 37, 0.72);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 4rem;
}

#price{
  width: 260px;
  height: 30px;
}

.all-venues-wrapper{
  max-width: 1400px;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 5rem;
}

.all-venues {
  max-width: 1440px;
  justify-content: center;
  /* margin: 0 auto; */
}

.date-picker-all-venues{
  width: 260px;
  height: 50px;
  padding: 0 10px;
  font-size: 1rem;
  background-color: var(--inputs);
  color: #fff;
  border-radius: 8px;
  border: none;
}

.button-container-all-venues{
  display: flex;
  justify-content:end;
  margin-top: 2rem;
  border-radius: 8px;
  gap: 20px;
}

.all-bookable-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.Load-more{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .all-bookable-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .all-bookable-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Bookable details */

.bookable-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  margin-top: 2rem;
}

.big-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  align-content: center;
}

.big-image img {
  max-width: 100%;
  max-height: 425px; 
  border-radius: 8px;
  /* flex-direction: column; */
}

.small-images {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.small-images div {
  margin: 0 10px; 
}

.small-images img {
  max-width: 100%;
  max-height: 100px; 

}

.bookable-details-container{
  max-width: 568px;
  max-height: 824px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  background-color: var(--contrast);
  /* padding: 20px;  */
}

.dropdowns-bookable-details{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.dropdowns-bookable-details h2{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  color: #fff;
  margin-top: 3rem;
  text-align: center;
}

.dropdowns-bookable-details h3{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  
}

.date-picker{
  width: 240px;
  height: 50px;
  padding: 0 10px;
  font-size: 1rem;
  background-color: var(--inputs);
  color: #fff;
  border-radius: 8px;
  border: none;
}

 .GMaps-placeholder{
  max-width: 100%;
  max-height: 425px;
  background-color: #2F2F2F;
  border-radius: 8px;
  /* margin-top: 2rem; */
 }

 .bookable-details-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns: left and right */
  gap: 10px; /* Adjust the gap between the columns */
}

.bookable-details-left {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  max-width: 631px;
}

.description {
  /* Add styles for the description section */
  margin-top: 20px;
}

.description p{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.amenities-icons-wrapper{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  color: #fff;
  /* gap: 10px; */
  justify-content: space-around;

}

/* .amenities-icon{
  /* display: flex; */
  

/* }  */

.amenities-icon svg{
 display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  font-size: 30px;
  text-align: center;
}

.arrangements{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}

.arrangements img{
  width: 90px;
  /* display: flex; */
  /* flex-direction: row; */
  
  
}

.bookable-details-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}


.checkbox-label{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 5px;
  /* display: block; */
  text-align: left;
}

.confirm-booking-dropdown{
  width: 462px;
 padding: 0 10px;
}

.info-icon {
  font-size: 20px;
  color: #fff;
  background-color: darkslategray;
  border-radius: 50%; 
  padding: 2px 9px;
  margin-right: 10px;
  cursor: pointer;

}

.tooltip{
  position: relative;
  display: block;
  border-bottom: 1px dotted black;
  color: #fff;
}

.price-details{
 color: #fff;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirm-booking-button{
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.terms-p{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.terms-p p span{
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.bookable-contact{
  max-width: 568px;
  background-image: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
  border-radius: 8px;
  padding: 20px;
  margin-top: 2rem;
  color: #fff;
  display: flex;
  gap: 20px;
}




/* Testimonials */

.testi-wrapper{
  max-width: 1400px;
  /* width: 100%; */
  height: 339px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.testi-wrapper .testi-arrow{
  height: 25px;
  width: 25px;
  padding: 5px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  top: 50%; 
  transform: translateY(-50%);
}

.testi-wrapper .testi-arrow:first-child{
  left: 0;
  transform: translate(-50%, -50%);
 
}

.testi-wrapper .testi-arrow:last-child{
  right: 0;
  transform: translate(50%, -50%);
  
}

.testi-wrapper .testi-carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2 ) - 12px);
  gap: 24px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

/* .testi-carousel :where(.testi-item, .testi-img){
  /* grid-row: 2;
  grid-column: 1; */

/* }  */
.testi-carousel.dragging{
  scroll-behavior: auto;
  /* user-select: none; */
}

.testi-carousel.dragging .testi-item{
  cursor: grabbing;
  user-select: none;
}

.testi-carousel .testi-item{
  padding: 30px;
  max-height: 339px;
  max-width: 598px;
  border-radius: 8px;
  background-image: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
  display: flex;
  gap: 20px;
  color: #fff;
}

.testi-item .img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px){
  .testi-wrapper .testi-carousel{
    grid-auto-columns: calc((100% / 1 ) - 12px);
  }
  .testi-carousel .testi-item{
    padding: 30px;
    max-height: 439px;
    max-width: 598px;
    border-radius: 8px;
    background-image: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: #fff;
    /* justify-content: center; */
    /* align-items: center; */
  }
}

@media screen and (max-width: 480px){
  .testi-wrapper .testi-carousel{
    grid-auto-columns: calc((100% / 1 ) - 12px);
  }
  
}

/* About section */

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  padding:  50px;
  max-height: 541px;
  width: 1440px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-image: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
}

.about-section h2 {
  text-align: start;
  
}

.about-content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 20px;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 669px;
  height: 281px;
  object-fit: cover;
  border-radius: 8px;
}

.about-text {
  flex: 1;
  padding: 0 20px;
  max-width: 600px;
  color: #fff;
  
}

.about-text {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text p {
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
text-align: start;

color: #FFFFFF;


}

/* Contact */

.contact-us-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the container takes the full height of the viewport */
  margin: 0; 
  
}

.contact-us-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Left side is twice the size of the right side */
  /* gap: 20px;  */
}

.contact-form { 
  background-color: var(--contrast);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
  border-radius: 8px 0 0 8px;
 } 
 


 .input-label {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
  color: #fff;
}

.input-contact {
  width: 672px;
  height: 20px;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--inputs);
  color: #fff;
  border-radius: 8px;
  border: none;
}

.textarea{
  height: 144px;
}

.contact-us-btn{
margin-top: 10px;
  float: right;
  padding: 7px 32px;
}

.contact-details-map-container {
  display: flex;
  flex-direction: column;
}

.contact-details {
  /* Your existing styles for contact details */
  /* margin-bottom: 20px;  */
  height: 300px;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius:  0 8px 0 0;
  background-image: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
}

.GMaps-placeholder {
  /* Styles for Google Maps placeholder */
  height: 600px;
  background-color: #2f2f2f;
  border-radius:  0 0 8px 0;
}


/* Confirm booking */

.confirm-booking-wrapper{
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
  padding: 50px;
} 

.confirm-booking-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 568px;
  margin-bottom: 2rem;
}

.confirm-booking-h2{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  color: #fff;
  margin-top: 3rem;
  text-align: center;
}

.confirm-booking-details p{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  
}

/* Confirmation */
.confirmation{
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
  padding: 50px;
}

.confirmation h1{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  color: #fff;
  margin-top: 3rem;
  text-align: center;
}

.confirmation p{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.confirmation svg{
  width: 100%;
  max-width: 568px;
  height: 80px;
  margin-top: 2rem;
  color: var(--pink);
}


/* Profile */

.profile-wrapper{
  max-width: 1440px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #fff;
}

.user-greeting{
  margin-left: 4rem;
}

.profile-content-box{
  width: 1250px;
  height: 250px;
  background-color: var(--contrast);
  margin-bottom: 1rem;
  float: right;
  text-decoration: none;
 
}

.profile-content-box a{
  text-decoration: none;
}

.profile-content-box-content{
  display: flex;
  justify-content: space-between;
  align-content: center;
 padding: 20px;
  background-color: var(--contrast);
  text-decoration: none;
  color: #fff;

}

.current-bookings-left{
  text-decoration: none;
  color: #fff;
}

.current-booking-img-container{
  width: 400px;
  height: 210px;
}

.current-bookings-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Booking details */

.booking-details-wrapper{
  max-width: 1440px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #fff;
}

.booking-details-top-box{
  width: 1250px;
  height: 835px;
  background-color: var(--contrast);
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  
}

.booking-details-over{

  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.booking-details-over-left{
  
  margin-top: 2rem;
}

.images-container-booking-details{
  
  display: flex;
  /* flex-direction: column;
  align-items: center;
  text-align: center; */
  margin-top: 2rem;
}

.big-image-booking-details{
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  align-content: center;
  padding-right: 10px;
}

.big-image-booking-details img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.small-images-booking-details{
  width: 270px;
  height: 140px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* justify-content: center; */
  /* margin-top: 20px;  */
}

.small-images-booking-details img{
  width: 100%;
  max-height: 140px;
  object-fit: cover;
  border-radius: 8px;
}




/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--background);
}

.footer-left img {
  width: 123px; /* Adjust the width as needed */
}

.footer-middle {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.footer-middle a {
  text-decoration: none;
  color: #fff;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

}

.social-icons {
  display: flex;
}

.social-icons svg {
  margin: 0 10px;
  font-size: 20px;
  color: #333;
}

hr {
  width: 100%;
  border: 1px solid #ccc;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #333;
}

.payment-icons svg {
  font-size: 24px;
  color: #333;
  margin-left: 10px;
}

/* Additional styling for links, if needed */
.footer-middle a:hover {
  color: #333;
}

.test{
  color : #fff;
}

.load-more button{
  width: 100%;
  padding: 10px;
  background-color: var(--pink);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}